/* question card */
.new-question {
  width: 80%;
  margin: 6rem auto 0 auto;
}

.question {
  /* border: 1px solid #353234; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 1rem;
  background-color: #202020;
}

.left-container,
.right-container {
  flex-basis: 20%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.middle-container {
  flex-basis: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid #353234;
  border-left: 1px solid #353234;
}

/* middle container */
.question-author {
  text-transform: uppercase;
}

.question-text {
  color: #8d8d8d;
  text-transform: capitalize;
  font-size: 1.6rem;
}

.default-question-options {
  display: flex;
  width: 85%;
  justify-content: space-evenly;
  align-items: center;
}

.default-question-options > p {
  font-size: 1.4rem;
  margin: 0;;
  text-align: center;
  flex-basis: 45%;
  color: #fff;
}

.default-question-options > span {
  font-size: 1rem;
  color: #353234;
  text-transform: uppercase;
  margin: 0 1rem;
}

.show-question-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
}

.show-question {
  width: 100%;
  display: flex;
  justify-content: center;
}

.back {
  margin-top: 1rem;
  color: #f95480;
  text-transform: uppercase;
  font-size: 1.2rem;
}

/* right container */
.date {
  color: #8d8d8d;
  font-size: 1.1rem;
  margin: 0;
}
.votes {
  color: #f95480;
  font-size: 1rem;
  margin: 0.3rem 0 0 0;
}

.submit-button {
  background-color: #f95480;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1rem;
  transition: 0.5s background ease-in-out;
}

.submit-button:hover {
  cursor: pointer;
}

.submit-button:focus {
  outline: none;
}

.submit-button:disabled {
  background-color: #393939;
  cursor: not-allowed;
  color: #626262;
}